[Unit]
Description=ZQ Backend
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/ZQbackend
EnvironmentFile=/opt/ZQbackend/.env
ExecStart=/opt/ZQbackend/venv/bin/gunicorn core.wsgi:application --config /opt/ZQbackend/deploy/gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
